@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Color */
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);

    /* Typography */
    --font-family: "Work-sans", sans-serif;
    --font-size-paragraphs: 16px;
    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--light-pink);
    font-family: var(--font-family);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 620px;
    max-width: 90%;
    background-color: var(--white);
    padding: 50px 40px 20px 40px;
    border-radius: 15px;
}

.container h1 {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: var(--font-weight-700);
    font-size: 2.2rem;
    color: var(--dark-purple);
    margin-bottom: 20px;
}

.container h1 img {
    width: 35px;
}

.container .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.container .cards:nth-child(8) {
    margin-bottom: 10px;
}

.container .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container h2 {
    font-size: 1.1rem;
    color: var(--dark-purple);
}

.container .button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container .paragraph {
    font-size: var(--font-size-paragraphs);
    color: var(--grayish-purple);
}

hr {
    opacity: 0.4;
}

.paragraph {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: 
        opacity 0.5s,
        transform 0.5s ease;
}

.paragraph.visible {
    display: block;
    opacity: 1;
    transform: translateY(0);
}