@media (min-width: 900px) {
    .container {
        width: 80%;

        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'daniel daniel jonathan kira'
        'jeanette patrick patrick kira';
        justify-content: center;
    }

    .daniel-container,
    .jonathan-container,
    .jeanette-container,
    .patrick-container,
    .kira-container {
        margin: 0;
    }

    .daniel-container {
        grid-area: daniel;
    }

    .jonathan-container {
        grid-area: jonathan;
    }

    .kira-container {
        grid-area: kira;
    }

    .jeanette-container {
        grid-area: jeanette;
    }

    .patrick-container {
        grid-area: patrick;
    }
}

@media (max-width: 1510px) {
    .title {
        font-size: 1.4rem;
    }
}