
@font-face {
   font-family: "redhat";
   src: url("../assets/fonts/RedHatText-VariableFont_wght.ttf");
}

:root {
   /* COLORS */
   --red: hsl(14, 86%, 42%);
   --green: hsl(159, 69%, 38%);

   --rose-50: hsl(20, 50%, 98%);
   --rose-100: hsl(13, 31%, 94%);
   --rose-300: hsl(14, 25%, 72%);
   --rose-400: hsl(7, 20%, 60%);
   --rose-500: hsl(12, 20%, 44%);
   --rose-900: hsl(14, 65%, 9%);

   /* FONTS */
   --font-size-products-name: 16px;

   --weight-400: 400;
   --weight-600: 600;
   --weight-700: 700;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "redhat", sans-serif;
}

body {
   display: flex;
   justify-content: center;
   min-height: 100vh;

   background-color: var(--rose-100);
}